.burger-button {
	@include reset-button;
	@include square(48px);

	position: relative;
	border-radius: var(--border-radius-small);

	&::after {
		@include abs-center;

		content: "";
		width: 50%;
		height: 2px;
		background-color: var(--color-dark);
		border-radius: 5px;
		box-shadow: 0 -8px, 0 8px;
		transition: all 0.2s ease;
	}
	&:active::after {
		transform: scale(0.9);
	}
}
