.field {
	--fieldInputHeight: var(--input-height);
	--fieldInputTextColor: var(--color-dark);
	--fieldInputBgColor: var(--color-light);
	--fieldInputBorderColor: var(--color-dark);
	--fieldInputPlaceholderColor: var(--color-dark-alt);
	--fieldInputHoverBgColor: var(--color-accent);
	--fieldInputBackgroundColor: var(--color-accent);
	--fieldInputBackgroundColorAlt: var(--color-dark);

	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 5px;

	@include mobile {
		row-gap: 10px;
	}

	&--big-height {
		--fieldInputHeight: var(--button-height);
	}

	&--dark-bg {
		--fieldInputTextColor: var(--color-accent);
		--fieldInputBgColor: var(--color-dark-alt);
		--fieldInputBorderColor: var(--color-light);
		--fieldInputPlaceholderColor: var(--color-light);
		--fieldInputHoverBgColor: var(--color-dark);

		&:focus {
			border-color: var(--color-dark);
			outline: none;
			background-color: var(--color-dark);
		}
	}

	
	&--dark-bg.field--big-height {
		--fieldInputBackgroundColor: var(--color-dark);
		--fieldInputBorderColor: var(--color-light);
		--fieldInputTextColor: var(--color-light);

		
		.field__input:focus {
			border-color: var(--color-light);
			background-color: var(--fieldInputBackgroundColor);
		}
	}

	&__label {
		@include fluid-text(16, 14);
	}

	&__input {
		width: 100%;
		height: var(--fieldInputHeight);
		padding-inline: 30px;
		color: var(--fieldInputTextColor);
		background-color: var(--fieldInputBgColor);
		border: 1px solid var(--fieldInputBorderColor);
		border-radius: var(--border-radius);

		@include hover {
			background-color: var(--fieldInputHoverBgColor);
		}

		@include mobile {
			padding-inline: 20px;
		}

		&:focus {
			border-color: var(--color-dark);
			outline: none;
			background-color: var(--fieldInputBackgroundColor);
		}

		&::placeholder {
			color: var(--fieldInputPlaceholderColor);
		}

		&--textarea {
			height: 190px;
			padding-block: 18px;
			resize: none;

			@include mobile {
				height: 132px;
			}
		}
	}
}
