.hero {
	display: flex;
	flex-direction: column;
	row-gap: var(--section-padding-y);

	@include desktop {
		row-gap: 60px;
	}

	&__main {
		display: flex;
		justify-content: space-between;
		align-items: start;
		column-gap: 30px;

		@include mobile {
			flex-direction: column;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		max-width: 531px;
		align-items: start;
		row-gap: 35px;

		@include mobile {
			display: contents;
		}
	}

	&__description {
		font-size: 20px;
		line-height: 1.4;

		@include mobile {
			margin-bottom: 40px;
		}
	}

	&__button {
		@include mobile {
			width: 100%;
			max-width: 390px;
			margin-inline: auto;
		}
	}

	&__title {
		@include mobile {
			order: -2;
			margin-bottom: 10px;
		}
	}

	&__partners {
		&-list {
			display: flex;
			justify-content: space-between;
			row-gap: 37px;

			@include tablet {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				row-gap: 20px;
			}

			@include mobile-s {
				--heroPartnersWidthOffsetX: 60px;

				columns: 0;

				width: calc(100vw + var(--heroPartnersWidthOffsetX) * 2);
				margin-left: calc(
					(
							var(--heroPartnersWidthOffsetX) +
								var(--container-padding-x)
						) * -1
				);
			}
		}

		&-item {
			@include tablet {
				display: flex;
				justify-content: center;
			}

			@include mobile-s {
				justify-content: start;

				&:nth-child(-n + 3) {
					justify-content: end;
				}
			}
		}

		&-image {
			filter: grayscale(1);
		}
	}

	&__image {
		overflow-x: auto;

		@include desktop {
			max-width: 50%;
			height: auto;
		}

		@include mobile {
			order: -1;
			max-width: 100%;
			width: 100%;
			margin-bottom: 20px;
		}
	}
}
