.puddle-bg {
	padding-inline: 7px;
	background-color: var(--color-accent);
	border-radius: var(--border-radius-small);
	text-wrap: nowrap;
	display: flex;
	flex-direction: column;

	&--light {
		background-color: var(--color-light);
	}
}
