.radio {
	display: flex;
	align-items: center;
	column-gap: 14px;

	&__label {
		user-select: none;
	}

	&__input {
		&:not(:checked) + .radio__emulator::after {
			opacity: 0;
		}

		@include hover {
			&:not(:checked) + .radio__emulator::after {
				opacity: 0.7;
			}
		}
	}

	&__emulator {
		@include flex-center;
		@include square(28px);

		background-color: var(--color-light);

		border: var(--border);
		border-radius: 50%;

		position: relative;

		&::after {
			@include abs-center;
			@include square(60%);

			content: "";
			background-color: var(--color-accent);
			border-radius: inherit;
			transition: all 0.2s ease;
		}
	}
}
