.review-card {
	--reviewCardCornerWidth: 40px;
	--reviewCardCornerOffsetLeft: 52px;

	display: flex;
	flex-direction: column;
	row-gap: 48px;

	@include mobile {
		--reviewCardCornerWidth: 32px;
		--reviewCardCornerOffsetLeft: 46px;

		row-gap: 44px;
	}

	&__body {
		position: relative;
		padding: 48px var(--reviewCardCornerOffsetLeft) 52px;
		border: 1px solid var(--color-accent);
		border-radius: var(--border-radius-large);

		@include mobile {
			padding: 30px;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
	}

	&__name,
	&__company {
		font-style: normal;
	}

	&__name {
		color: var(--color-accent);
	}
}
