.team-card {
	padding: 40px 35px;
	border: var(--border);
	border-radius: var(--border-radius-large);
	box-shadow: var(--shadow);
	height: 100%;

	@include mobile {
		padding-inline: 50px;
	}

	&__header {
		display: flex;
	}

	&__image {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__info {
		align-self: end;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__name {
		&:not(:last-child) {
			margin-bottom: 3px;
		}
	}

	&__link {
		@include flex-center;
		@include square(34px);
		color: var(--color-accent);
		background-color: var(--color-dark);
		border-radius: 50%;
		margin-left: auto;
		align-self: start;
		flex-shrink: 0;
		transition: all 0.2s ease;

		@include hover {
			color: var(--color-dark);
			background-color: var(--color-accent);
		}

		:active {
			opacity: 0.7;
		}
	}

	&__body {
		--teamCardBodyMarginTop: 28px;
		margin-top: var(--teamCardBodyMarginTop);
		padding-top: var(--teamCardBodyMarginTop);
		border-top: var(--border);

		@include mobile {
			--teamCardBodyMarginTop: 20px;
		}
	}
}
